body {
    margin: 0;
    font-family: sans-serif;
}

main {
    margin: 0 auto;
    padding: 12px;
    width: 760px;
}

p {
    font-weight: 500;
    font-size: 1.3em;
    display: block;
    margin: 0;
    line-height: 1.3;
}

a {
    /*   color: $color-a; */
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    /*     &:visited {
        color: $color-a;
    } */
}

.text-center {
    text-align: center;
}

// Added to UNCSS_IGNORE array (gulp.js)
.hidden {
    display: none !important;
}

.anim-opacity {
    transition: opacity 1.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.opacity-none {
    opacity: 0 !important;
}

.anim-fade-in {
    animation: fade-in 1s ease-in 0.25s forwards;
    opacity: 0;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}