.draw {
    display: flex;
    justify-content: space-between;
}

.draw-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 536px;
}

.draw-block--center {
    align-items: center;
}

.draw-text {
    text-transform: uppercase;
}

.draw-font {
    font-weight: bold;
    font-size: 1.8em;
}

.winner-name {
    text-transform: uppercase;
}

.anim-opacity {
    transition: opacity 1.5s cubic-bezier(0.33, 1, 0.68, 1);
}

.opacity-none {
    opacity: 0 !important;
}