.draw {
    display: flex;
    justify-content: space-between;
}

.draw-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 536px;
}

.draw-block--center {
    align-items: center;
}

.draw-text {
    text-transform: uppercase;
}

.draw-font {
    font-weight: bold;
    font-size: 1.8em;
}

.winner-name {
    text-transform: uppercase;
}