// Text
.color-a {
    color: $color-a;
}

.color-b {
    color: $color-b;
}

// Background
.color-bg-a {
    background-color: $color-a;
}

.color-bg-b {
    background-color: $color-b;
}

.border-a {
    border-color: $color-a;
}

.border-b {
    border-color: $color-b;
}

// Svg icons
.icon {
    fill: $color-icon;
}

body {
    color: $color-text;
    background-color: $color-bg;
}

* {
    font-family: $font;
}

/* #theme {
    font-family: $font;
} */

a {
    color: $color-a;

    &:visited {
        color: $color-a;
    }
}