body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0 auto;
    padding: 12px;
    width: 760px;
}

p {
    font-weight: 500;
    font-size: 1.3em;
    display: block;
    margin: 0;
    line-height: 1.3;
}