@import "include/common.scss";

.information {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.data {
    display: flex;
}

.space {
    margin: 0 12px;
}

.progressBar {
    display: flex;
    height: 36px;
    border-radius: 6px;
    overflow: hidden;
}

.bar-user-a {
    width: 50%;
}

.bar-user-b {
    width: 50%;
}

.anim-width {
    transition: width 1.5s cubic-bezier(0.33, 1, 0.68, 1);
}