@import "vars";

.information {
    display: flex;
    justify-content: space-between;
    padding-bottom: 12px;
}

.data {
    display: flex;
}

.space {
    margin: 0 12px;
}

.progressBar {
    display: flex;
    height: 36px;
}

.bar-user-a {
    background-color: $color-green;
    width: 50%;
}

.bar-user-b {
    background-color: $color-red;
    width: 50%;
}

$border-radius: 6px;

.border-left {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
}

.border-right {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
}

.animation {
    transition: width 2s;
}